<h1>Listing sellable_item_attributes</h1>

<%= link_to "Add new attribute to #{@sellable_item}", new_sellable_item_sellable_item_attribute_path(@sellable_item) %>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sellable_item_attributes.each do |sellable_item_attribute| %>
  <tr>
    <td><%= sellable_item_attribute.name %></td>
    <td><%= sellable_item_attribute.value %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "&larr; Back to the sellable item #{@sellable_item}".html_safe, @sellable_item %></p>